################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TesteGmil.Model/bin/Debug/net6.0
/TesteGmil.Model/obj
/TesteGmil.Tests/bin
/TesteGmil.Tests/obj
/TesteGmil.View/bin/Debug/net6.0
/TesteGmil.View/obj
/TestGmil.Api/bin/Debug/net6.0
/TestGmil.Api/obj
